:root { 
--indigo_900_7f:#002b6c7f; 
--indigo_A100:#7f98f9; 
--red_400:#e05050; 
--indigo_700_33:#2d31a533; 
--blue_200_01:#a3bbfd; 
--black_900_01:#000000; 
--amber_A700:#ffaa00; 
--teal_900:#042852; 
--indigo_900_19:#002b6d19; 
--blue_gray_700:#454c60; 
--blue_50_bf:#e0eaffbf; 
--blue_gray_900:#2f3338; 
--pink_300:#ff6584; 
--gray_600:#71717a; 
--blue_gray_100:#c8ccd1; 
--blue_gray_500:#767f8c; 
--red_50_01:#ffeded; 
--blue_50:#e7f0fa; 
--indigo_900_00:#002b6c00; 
--blue_200_33:#a3bbfd33; 
--gray_100_01:#f2f2f2; 
--blue_300:#6ca3e0; 
--blue_100:#cee0f5; 
--white_A700:#ffffff; 
--indigo_A100_7f:#8098f97f; 
--blue_gray_50:#edeff4; 
--blue_A700:#0065ff; 
--indigo_A100_19:#7f98f919; 
--blue_gray_100_01:#cccccc; 
--green_800:#0ba02c; 
--deep_purple_100:#d0cde1; 
--red_50:#fceeee; 
--black_900:#09090b; 
--gray_100_99:#f1f2f499; 
--indigo_500_01:#4f58b2; 
--blue_gray_800:#474c54; 
--blue_gray_600_a2:#636a7fa2; 
--blue_50_01:#e0eaff; 
--pink_400:#ea4c89; 
--gray_900_02:#161616; 
--gray_700:#5e6670; 
--blue_gray_200:#adb2ba; 
--gray_500:#9199a3; 
--indigo_900_0c:#002b6d0c; 
--blue_gray_400:#767d93; 
--blue_800:#0a65cc; 
--indigo_900_0a:#002b6d0a; 
--white_A700_a2:#ffffffa2; 
--gray_900:#18191c; 
--gray_900_01:#181f33; 
--green_50:#e7f6ea; 
--gray_300:#e4e5e8; 
--gray_900_07:#18191c07; 
--blue_gray_800_01:#3f3d56; 
--gray_300_02:#e6e6e6; 
--gray_300_01:#dadce5; 
--gray_100:#f1f2f4; 
--orange_50:#fff6e6; 
--black_900_33:#00000033; 
--indigo_A400_33:#444ce733; 
--blue_200:#99c2ff; 
--indigo_700:#2d31a5; 
--indigo_500:#4e58b2; 
}